:root {
    --bg-color: #F5F5F5;
    --bg-second: #1A3E3E;
    --bg-third: #F3F5F4;
    --font-color: #FDFDFD;
    --font-second-color: #18121E;
    --accent-color: #F2BE22;
    --icon-color: #45766A;
}